.Botoes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2vh;
    padding-left: 6.6vh;
    padding-right: 6.6vh;
}

.Botoes-grid-item {
    text-align: center;
    padding: 1vh;
}

.Botoes {
    background-color: #a0a0a0;
    color: #eaf7f6;
    border: none;
    padding: 2.8vh;
    padding-left: 10vh;
    padding-right: 10vh;
    border-radius: 2vh;
    box-shadow: 1vh 1vh #d0dddc;
    transition: all 0.2s ease;
    width: 80%;
    min-width: 200px;
    max-width: 300px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
}

.Botoes:hover {
    background-color: #7d7d7d;
    box-shadow: 1vh 1vh #636363 inset;
}